{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~components": "./src/components",
          "~layouts": "./src/layouts",
          "~pages": "./src/pages",
          "~styles": "./src/styles",
          "~hooks": "./src/hooks",
          "~contexts": "./src/contexts"
        }
      }
    ]
  ]
}
