.content-wrapper {
  width: 100%;
  .heading {
    margin-bottom: 50px;
  }
  .body {
    .search {
      max-width: 700px;
      margin-bottom: 20px;
    }
    .list-friends-card {
      display: block;
      .card {
        display: inline-block;
        width: 30%;
        background-color: red;
        margin: 5px;
      }
    }
  }
}
