.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  .side {
    min-width: 200px;
    margin-right: 10px;
    min-height: 100vh;
    background-color: rgb(216, 216, 216);
  }
  .content {
    flex: 1;
  }
}
